=render partial:'layouts/chat-side'

.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group{"data-group_id": @group.id}
        =@group.name
      .chat-main__main-header__left-box__member-list
        - @group.group_users.each do |user_id|
          = user_id.user.name
    =link_to "Edit", edit_group_path(@group.id), class: "btn"

  .chat-main__messages
    = render @messages
    -# = render partial: 'message', collection: @messages
    -# 上記は省略せずに書いた場合
    -# eachを使うよりrenderとオプションcollectionを使うほうが処理が高速
    -# インスタンス変数が複数系、部分テンプレートが単数系の場合は省略できる
        
  .form
    .form__new-message
    = form_for [@group, @message] do |f|
      .form__new-message__input-box
        = f.text_field :content, class: 'form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'form__new-message__input-box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'form__new-message__input-box__image__file'
      = f.submit 'Send', class: 'form__new-message__input-box__submit-btn'

  
  